.event-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.event-card:hover {
  transform: scale(1.04);
  box-shadow: 2px 2px 15px rgba(2, 245, 123, 0.803);
}
.keyEvent {
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgb(215, 5, 238);
  margin-top: 10px;
}
